.productdetails-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 20px;
}
.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
